@import "../../../../scss/positions";

.work {
  display: flex;
  justify-content: center;

  &__timeline {
    margin-left: calc(2vw + 1.4vw + 35px);
    width: 30vw;
    position: relative;

    & > span {
      content: "";
      display: block;
      width: 0;
      height: 5vh;
      border-left: 2px dashed #fff;
      top: 0;
      margin-left: -2vw;
    }

    &::before {
      content: "";
      display: block;
      width: 0;
      height: 100%;
      border-left: 2px dashed #fff;
      position: absolute;
      top: 0;
      left: -2vw;
    }

    @media only screen and (max-width: 450px) {
      & {
        width: 50vw;
      }
    }
  }

  &__event {
    &-content {
      position: relative;
      padding: 1vh 1vw;
      border-radius: 1vh;
      background-color: #2750b3;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
      & > span {
        content: "";
        display: block;
        width: 0;
        border-left: 2px solid white;
        background-color: white;
        height: 100%;
        z-index: 4;
        position: absolute;
        top: 0;
        left: -2vw;
      }
    }

    &-title {
      font-weight: bold;
      font-size: 18px;
    }

    &-description {
      font-size: 14px;
    }

    &-date {
      margin-left: -2.65vw;
    }

    &-circle {
      width: 1.4vw;
      height: 1.4vw;
      position: relative;
      // Change this for the little circle background color
      background-color: #527ada;
    }

    &-top {
      margin-top: -1.3vw;
      &-text {
        margin-top: -1.4vw;
      }
    }

    &-bottom {
      margin-bottom: -1.5vw;

      &-text {
        margin-bottom: -1.4vw;
      }
    }

    &-date {
      @extend %flex-middle;

      & > span {
        margin-left: calc(-1.4vw + -65px);
        font-size: 12px;
        font-weight: bold;
      }
    }
  }
}

.dots {
  content: "";
  display: block;
  width: 0;
  height: 2vh;
  border-left: 2px dashed #fff;
  top: 0;
  left: -2vw;
}

.topDots {
  margin-bottom: 5vw;
}
