.container {
  position: static;
  overflow: visible;
  width: 60%;
  margin-left: 40%;
  float: none;
  clear: none;
}

@media only screen and (max-width: 900px) {
  .container {
    height: auto;
    width: 100%;
    margin-left: 0;
  }
}

.teal {
  background-color: #92e8d3;
}

.mediumPurple {
  background-color: rgb(84, 41, 148);
}

.brightRed {
  background-color: #f9003c;
}

.beige {
  background-color: #f4b93d;
}

.mediumBlue {
  background-color: #005ba9;
}

.lightPink {
  background-color: #eabad8;
}

.black {
  background-color: rgb(56, 55, 55);
}
