.container {
  position: static;
  overflow: visible;
  width: 60%;
  max-width: 1200px;
  margin-left: 40%;
  float: none;
  clear: none;
}

.teal {
  background-color: #92e8d3;
}

.mediumPurple {
  background-color: rgb(84, 41, 148);
}

.brightRed {
  background-color: #f9003c;
}

.beige {
  background-color: #ffcf84;
}

.mediumBlue {
  background-color: #009ee2;
}
