.right {
  position: static;
  overflow: visible;
  width: 60%;
  margin-left: 40%;
  float: none;
  clear: none;
  @media only screen and (max-width: 1050px) {
    & {
      height: auto;
      width: 100%;
      margin-left: 0;
    }
  }

  &__one {
    background-color: #323639;
  }

  &__two {
    background-color: #527ada;
  }

  &__three {
    background-color: #54b187;
  }

  &__four {
    background-color: #0a0908;
  }
}
