.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center > svg {
  fill: white;
  width: 24px;
  height: 24px;
}

@media only screen and (max-width: 750px) {
  .container {
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
  }
}

@media only screen and (max-width: 500px) {
  .container {
    grid-template-columns: 1fr;
    grid-gap: 15px;
  }
}

.whiteText {
  color: white;
}

.cardContainer {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 0.5vh;
  /* cursor: pointer; */
  overflow: hidden;
  height: calc(15vh + 55px);
  width: inherit;
  /* display: flex;
  flex-direction: column; */
}

.cardColor {
  border-radius: 0.5vh 0.5vh 0 0;
  height: 15vh;
  /* border: 1px solid rgba(0, 0, 0, 0.1); */
}

.cardText {
  color: #393c45;
}

.cardContent {
  background-color: white;
  border-radius: 0 0 0.5vh 0.5vh;
  height: calc(15vh + 55px);
  transition: all 0.3s ease-in;
  width: inherit;
}

/* .cardContent:hover {
    transform: translate(0, -13vh);
  } */

.moved {
  transform: translate(0, -14.25vh);
  border-radius: 0.5vh;
}

.cardContainer:hover {
  box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.3);
}

.classes {
  display: flex;
  overflow-x: scroll;
  width: inherit;
}

.classes::-webkit-scrollbar {
  display: none;
}

.fluency {
  color: #838383;
  font-size: 12px;
}

.cardInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.arrowContainer {
  display: flex;
  align-items: center;
  color: #393c45;
  cursor: pointer;
  font-size: 20px;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  width: inherit;
  height: 55px;
  padding: 1vh 1vw;
}

.class {
  grid-row: 1;
  border-radius: 0.3vh;
  border-width: 1px;
  border-style: solid;
  height: 4vh;
  width: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  margin-right: 0.25vw;
  cursor: pointer;
}

.whiteText > span {
  color: white;
}

.cardBody {
  color: #393c45;
  padding: 0 1vw;
  height: calc(12.25vh + 0.5vh);
  overflow-y: auto;
  width: inherit;
}

.cardBody::-webkit-scrollbar {
  display: none;
}

.shiftBody {
  margin-top: -0.5vh;
}

.classHeader {
  font-size: 14px;
  border-top-width: 1px;
  border-top-style: solid;
  padding-top: 0.5vh;
  /* text-transform: uppercase; */
  /* font-weight: bold; */
}

.bodyText {
  font-size: 12px;
  line-height: 3vh;
}

.lines {
  flex-grow: 1;
  margin-top: 0.75vh;
  color: #393c45;
  display: flex;
  text-decoration: underline;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  border-radius: 0.5vh;
  border-style: solid;
  border-width: 2px;
  /* text-shadow: 1px 1px rgba(0, 0, 0, 0.8);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); */
}

.experienceText {
  text-transform: capitalize;
  font-size: 14px;
  padding: 0.25vh 0;
  color: #393c45;
  width: inherit;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.experienceText::after {
  content: attr(data-info);
  color: #525252;
  font-size: 12px;
}

.experienceText:first-child {
  border-top-width: 1px;
  border-top-style: solid;
}

.experienceText:hover {
  overflow: visible;
  white-space: normal;
  text-overflow: unset;
}

.experienceArrowContainer {
  height: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.experienceArrow {
  width: 3vw;
}
