.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 1.5vw;
  grid-row-gap: 3vh;
}

.cardContainer {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 0.5vh;
  /* cursor: pointer; */
  overflow: hidden;
  height: calc(15vh + 55px);
  width: 100%;
  /* display: flex;
  flex-direction: column; */
}

.cardColor {
  border-radius: 0.5vh 0.5vh 0 0;
  height: 15vh;
  /* border: 1px solid rgba(0, 0, 0, 0.1); */
}

.cardText {
  color: #393c45;
}

.cardContent {
  background-color: white;
  border-radius: 0 0 0.5vh 0.5vh;
  height: calc(15vh + 55px);
  transition: all 0.3s ease-in;
}

/* .cardContent:hover {
    transform: translate(0, -13vh);
  } */

.moved {
  transform: translate(0, -14.25vh);
  border-radius: 0.5vh;
}

.cardContainer:hover {
  box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.3);
}

.friday {
  background-image: radial-gradient(
    circle farthest-corner at 3% 7.4%,
    rgba(0, 144, 243, 1) 0%,
    rgba(0, 86, 240, 1) 90%
  );
}

.fridayText {
  border-color: rgb(0, 114, 242);
}

.peach {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(255, 221, 51, 1) 100.2%,
    rgba(187, 187, 187, 1) 100.2%
  );
}

.peachText {
  border-color: rgb(255, 145, 125);
}

.violet {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(126, 155, 212, 1) 0%,
    rgba(87, 83, 247, 1) 90%
  );
}

.violetText {
  border-color: rgb(96, 100, 238);
}

.forest {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(30, 180, 165, 1) 0%,
    rgba(60, 94, 85, 1) 90.1%
  );
}

.forestText {
  border-color: rgb(51, 119, 108);
}

.bloo {
  background-image: radial-gradient(
    circle farthest-corner at 21.3% 26.5%,
    rgba(47, 181, 227, 1) 0%,
    rgba(155, 208, 237, 1) 61.4%
  );
}

.blooText {
  border-color: rgba(47, 181, 227, 1);
}

.sundown {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(253, 193, 104, 1) 0%,
    rgba(251, 128, 128, 1) 90%
  );
}

.sundownText {
  border-color: rgba(251, 128, 128, 1);
}

.ocean {
  background-image: radial-gradient(
    circle farthest-corner at 1.8% 4.8%,
    rgba(17, 23, 58, 1) 0%,
    rgba(58, 85, 148, 1) 90%
  );
}

.oceanText {
  border-color: rgb(37, 52, 101);
}

.animation {
  background-image: radial-gradient(
    circle 728px at 100.3% 119%,
    rgba(240, 70, 119, 1) 5.3%,
    rgba(255, 162, 128, 1) 38.8%,
    rgba(255, 255, 255, 1) 100.2%
  );
}

.animationText {
  border-color: rgba(240, 70, 119, 1);
}

.reddy {
  background: linear-gradient(25deg, #d64c7f, #ee4758 50%);
}

.reddyText {
  border-color: #d64c7f;
}

.candy {
  background-image: radial-gradient(
    circle 760px at 13% 16.8%,
    rgba(255, 214, 223, 1) 0%,
    rgba(248, 131, 174, 1) 50.6%,
    rgba(252, 36, 135, 1) 93.4%
  );
}

.candyText {
  border-color: rgba(252, 36, 135, 1);
}

.mochi {
  background-image: radial-gradient(
    circle 953px at 1.4% 4%,
    rgba(160, 236, 191, 1) 0%,
    rgba(11, 138, 133, 1) 45.3%,
    rgba(9, 68, 103, 1) 100.2%
  );
}

.mochiText {
  border-color: rgb(103, 199, 169);
}

.evergarden {
  background-image: radial-gradient(
    circle farthest-corner at 2.7% 6.3%,
    rgba(138, 235, 185, 1) 0%,
    rgba(24, 40, 115, 1) 90%
  );
}

.evergardenText {
  border-color: rgba(24, 40, 115, 1);
}

.classes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 0.5vw;
  margin-top: 0.25vh;
  overflow-x: scroll;
  width: 10vw;
}

.classes::-webkit-scrollbar {
  display: none;
}

.fluency {
  color: #b1b1b3;
  font-size: 12px;
}

.cardInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.arrowContainer {
  display: flex;
  align-items: center;
  color: #393c45;
  cursor: pointer;
  font-size: 20px;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 55px;
  padding: 1vh 1vw;
}

.class {
  grid-row: 1;
  border-radius: 0.5vh;
  border-width: 2px;
  border-style: solid;
  /* background-color: #38b3ff; */
  color: #393c45;
  height: 4vh;
  width: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  /* text-shadow: 1px 1px rgba(0, 0, 0, 0.8); */
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); */
}

.cardBody {
  color: #393c45;
  padding: 0 1vw 1vh;
  height: calc(14.25vh + 0.5vh);
  display: flex;
  flex-direction: column;
}

.shiftBody {
  margin-top: -0.5vh;
}

.expandedHeader {
  /* padding-bottom: 0; */
}

.classHeader {
  font-size: 14px;
  border-top-width: 1px;
  border-top-style: solid;
  padding-top: 0.5vh;
  /* text-transform: uppercase; */
  /* font-weight: bold; */
}

.bodyText {
  font-size: 12px;
  line-height: 3vh;
}

.lines {
  flex-grow: 1;
  margin-top: 0.75vh;
  color: #393c45;
  display: flex;
  text-decoration: underline;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  border-radius: 0.5vh;
  border-style: solid;
  border-width: 2px;
  /* text-shadow: 1px 1px rgba(0, 0, 0, 0.8);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); */
}
