.imageContainer {
  position: relative;
  width: 100%;
}

.left {
  position: relative;
  display: flex;
  flex-direction: row;
}

.right {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
}

.researchImage > img {
  position: relative;
  width: 21vw;
  height: 100%;
  border-radius: 3vh;
  box-shadow: 0px 3px 4px 0px black;
}

.middleImageContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.middleImage {
  width: 20vw;
  height: auto;
  position: relative;
}

.middleImage > img {
  width: 100%;
  height: 100%;
  border-radius: 3vh;
  box-shadow: 0px 3px 4px 0px black;
}

.midResearchImg {
  position: absolute;
  width: 20vw;
  height: auto;
  border-radius: 3vh;
  box-shadow: 0px 3px 4px 0px black;
  left: 30.5%;
  top: 18.5vh;
  z-index: 1;
}

.topLeft {
  position: absolute;
  left: 0.75vw;
  top: 1.75vh;
  z-index: 2;
}

.bottomRight {
  position: absolute;
  right: 0.75vw;
  bottom: 1.75vh;
  z-index: 2;
}

.center {
  position: absolute;
  left: 0.75vw;
  bottom: 1.75vh;
  color: black;
  z-index: 2;
}

.topPublicationGrid {
  display: grid;
  width: 100%;
  grid-template-columns: 45% 48%;
  grid-column-gap: 4%;
}

.botPublicationGrid {
  display: grid;
  width: 100%;
  grid-template-columns: 53% 43%;
  grid-column-gap: 1%;
}

.midTopPub {
  /* padding: 8vh 5vw 0; */
  height: 61%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.midRightPub {
  height: 50%;
  width: 97%;

  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.midRightPos {
  display: flex;
  flex-direction: column-reverse;
}

.midBotPos {
  display: flex;
  flex-direction: column-reverse;
}

.midBotPub {
  height: 63%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.midLeftPub {
  height: 50%;
  width: 97%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.publication {
  color: rgb(84, 41, 148);
  text-transform: uppercase;
  background-color: white;
  text-shadow: none;
  font-weight: bold;
  padding: 0.25vh 0.25vw;
  border-radius: 0.5vh;
  font-size: 12px;
  z-index: 2;
  box-shadow: 0px 3px 4px 0px black;
  display: flex;
  align-items: center;

  background: linear-gradient(to right, rgb(171, 132, 230) 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
}

.publication:hover {
  background-position: left bottom;
  color: white;
  /* color: red; */
}

.arrowIcon {
  padding-left: 0.25vw;
}

@media only screen and (max-width: 1050px) {
  .researchImage > img {
    width: 38vw;
  }

  .middleImage {
    width: 38vw;
  }
}

@media only screen and (max-width: 450px) {
  .imageContainer {
    display: flex;
    justify-content: space-between;
  }

  .researchImage > img {
    width: 35vw;
  }

  .center {
    left: 45%;
    top: 9%;
  }

  .middleImage {
    height: 100%;
    width: 38vw;
  }

  .topLeft {
    top: 9%;
    left: 7%;
  }

  .bottomRight {
    top: 9%;
    right: 7%;
  }
}
