$fridayRadial: radial-gradient(
  circle farthest-corner at 3% 7.4%,
  rgba(0, 144, 243, 1) 0%,
  rgba(0, 86, 240, 1) 90%
);

$fridayText: rgb(0, 114, 242);
$fridayBorder: rgb(0, 114, 242);
$fridayBackground: rgb(0, 114, 242, 0.75);
